{# <div class="slide">
    <h2>{{title}}</h2>
    <p>{{text}}</p>
    <div class="col-md-6 col-sm-8">
        <div class="text-content">
            <p>{{first-img-text}}</p>
            <p class="product-price">{{first-img-price}}$</p>
        </div>
        <img src={{first-img-high}}>
    </div>
    <div class="col-md-3 col-sm-4">
        <div class="box-img">
            <div class="text-content">
                <p>{{second-img-text}}</p>
                <p class="product-price">{{second-img-price}}$</p>
            </div>
            <img src={{second-img}}>
        </div>
        <div class="box-img">
           <div class="text-content">
                <p>{{third-img-text}}</p>
                <p class="product-price">{{third-img-price}}$</p>
           </div>
            <img src={{third-img}}>
        </div>
    </div>
</div> #}